#{extends 'vsbo/layout.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
#{/set}
<div class="row">
	<div class="span12">
		<h1>&{"vsbo.profil.title"}</h1>
		
		<h3>&{"vsbo.profil.change.password.title"}</h3>
		#{form @savePasswordProfil()}
			 #{ifErrors}
			    <div class="alert-message block-message error">
					Merci de corriger les erreurs.
					#{errors} <li>${error}</li> #{/errors}
	      		</div>
		    #{/ifErrors}


			#{field 'oldPassword'}
			<div class="clearfix ${errors.forKey(field.name) ? 'error' : ''}">
		        <label>&{"vsbo.profil.field.old.password"}:</label>
		        <div class="input">
		        	<input type="password" name="${field.name}" value="" class="${field.errorClass}" size="100" />
		        </div>
		    </div>
		    #{/field}
		    
		    #{field 'password'}
		    <div class="clearfix ${errors.forKey(field.name) ? 'error' : ''}">
		        <label>&{"vsbo.profil.field.new.password"}: </label>
		        <div class="input">
		        	<input type="password" name="${field.name}" value="" class="${field.errorClass}" size="100" />
		        </div>
		    </div>
		    #{/field}
		    
		    <input type="submit" value="&{'vsbo.button.save'}" class="btn primary"/>
		#{/form}
		
		<h3>&{"vsbo.profil.change.language"}</h3>
		<ul>
			#{list items:languageList, as:'language'}
				<li>
					<a href="@{changeLanguage(language)}"><img src="@{'/public/images/' + language +'.gif'}" /></a>
				</li>
			#{/list}
		</ul>
		
	</div>
	
</div>



